@model IQueryable<LloydStephanieRealty.Models.Blog>
@{
    Layout = "_Layout";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/ClientBlog.css" />
</head>
<body>
    <h2>Blogs</h2>
    <table>
        <thead>
            <tr>
                <th>Blog Title</th>
                <th>Date Posted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blog in Model)
            {
                <tr>
                    <td>
                        <p><b>Title: </b> @blog.Title</p>
                        <p>Summary: @blog.Description.Substring(0, (blog.Description.Length / 4))</p>
                        <a id="readMore" asp-controller="Home" asp-action="Blog" asp-route-id="@blog.ID">Read More</a>
                    </td>
                    <td>@blog.DateOfPost.DayOfWeek, @blog.DateOfPost.ToString("MMMM") @blog.DateOfPost.Day, @blog.DateOfPost.Year</td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
