@model LloydStephanieRealty.Models.Comment
@{
    LloydStephanieRealty.Models.Blog blog = ViewData["Blog"] as LloydStephanieRealty.Models.Blog;
    List<LloydStephanieRealty.Models.Comment> comments = ViewData["Comments"] as List<LloydStephanieRealty.Models.Comment>;
    Layout = "_Layout";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/ClientBlog.css" />
</head>
<body>

    <h6>@blog.DateOfPost.DayOfWeek, @blog.DateOfPost.ToString("MMMM") @blog.DateOfPost.Day, @blog.DateOfPost.Year</h6>

    <h2>@blog.Title</h2>

    <p>@blog.Description</p>

    @if (comments != null)
    {
        <h4>Comments</h4>
        @foreach (LloydStephanieRealty.Models.Comment comment in comments)
        {
            var ts = new TimeSpan(DateTime.Now.Ticks - comment.DateOfComment.Ticks);
                <p><b>@comment.Name: </b> <i>@ts.Minutes Minutes Ago</i></p>
                <p>@comment.Description</p>
        }
    }
    <h4>Add A comment</h4>
    <form asp-action="AddComment" method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" placeholder="Enter your name" required />
        <br />
        <label asp-for="Description"></label>
        <textarea asp-for="Description" placeholder="What would you like to write?" required></textarea>
        <input type="hidden" value="@blog.ID" name="BlogID" />
        <input type="submit" value="Post Comment" /><br />
    </form>

</body>

</html>

